alimuratkurtulan_final_a_flows.json
[
    {
        "id": "7b9ed63e.2138f8",
        "type": "tab",
        "label": "Basic_Flow",
        "disabled": false,
        "info": "# Basic flow to start with STM32CubeMonitor."
    },
    {
        "id": "1ebbb430.dac7dc",
        "type": "ui_chartst",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "name": "myChart",
        "order": 4,
        "width": 15,
        "height": 9,
        "chartType": "line",
        "curveType": "linear",
        "duration": "10",
        "ymin": "",
        "ymax": "",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "6013fb0b.5b7504",
        "type": "acquisition out",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_Out",
        "probeconfig": "1812c13c2463dd8c",
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "4a573fb0.4bc99",
        "type": "acquisition in",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_In",
        "probeconfig": "1812c13c2463dd8c",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "a7c3e070.5a6c"
            ],
            []
        ]
    },
    {
        "id": "d59587ff.cd1748",
        "type": "variables",
        "z": "7b9ed63e.2138f8",
        "groupname": "myVariables",
        "accesspoint": 0,
        "execonfig": "6a7d7113762c7800",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "adcdegeri",
        "triggerthreshold": "30000",
        "frequency": "",
        "frequencyType": "0",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1685616322334,
        "openStatus": true,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "6013fb0b.5b7504"
            ],
            [
                "f14d0398.f1861"
            ]
        ]
    },
    {
        "id": "fc00295e.79ada8",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Clear Graphs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "clear",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "1ebbb430.dac7dc"
            ]
        ]
    },
    {
        "id": "5fd51c96.2330e4",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "START Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "start",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "52eadfe3.2c8cc",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "STOP Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "stop",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "a7c3e070.5a6c",
        "type": "processing",
        "z": "7b9ed63e.2138f8",
        "groupname": "myVariables",
        "groupid": "d59587ff.cd1748",
        "expressions": [],
        "statistics": [],
        "logmode": "full",
        "logformat": "stcm",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "1ebbb430.dac7dc"
            ],
            []
        ]
    },
    {
        "id": "f14d0398.f1861",
        "type": "ui_toast",
        "z": "7b9ed63e.2138f8",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 530,
        "y": 160,
        "wires": []
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "name": "Chart",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false
    },
    {
        "id": "1812c13c2463dd8c",
        "type": "probe",
        "probeid": "0670FF575377524867043310",
        "probename": "ST-Link v2 0670FF575377524867043310",
        "protocol": "SWD",
        "frequency": "1.8 MHz - Default",
        "probeproperty": "{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}",
        "probeversion": "ST Link firmware version V2.J41",
        "connectionType": "p2p",
        "nickname": "myprobe"
    },
    {
        "id": "6a7d7113762c7800",
        "type": "exe-config",
        "name": "ldr",
        "exefile": "/Users/mac/STM32CubeIDE/workspace_1.10.2/project_final_ldr/Debug/project_final_ldr.elf",
        "exefolder": "/Users/mac/STM32CubeIDE/workspace_1.10.2/project_final_ldr/Debug",
        "exevariablelist": [
            {
                "address": "0x20000028",
                "name": "adcdegeri",
                "type": 3,
                "checked": true
            },
            {
                "address": "0x08002e6c",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x20000064",
                "name": "hadc1.DMA_Handle",
                "type": 5
            },
            {
                "address": "0x20000070",
                "name": "hadc1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000030",
                "name": "hadc1.Init.ClockPrescaler",
                "type": 5
            },
            {
                "address": "0x20000044",
                "name": "hadc1.Init.ContinuousConvMode",
                "type": 2
            },
            {
                "address": "0x20000038",
                "name": "hadc1.Init.DataAlign",
                "type": 5
            },
            {
                "address": "0x2000004c",
                "name": "hadc1.Init.DiscontinuousConvMode",
                "type": 2
            },
            {
                "address": "0x2000005c",
                "name": "hadc1.Init.DMAContinuousRequests",
                "type": 2
            },
            {
                "address": "0x20000040",
                "name": "hadc1.Init.EOCSelection",
                "type": 5
            },
            {
                "address": "0x20000054",
                "name": "hadc1.Init.ExternalTrigConv",
                "type": 5
            },
            {
                "address": "0x20000058",
                "name": "hadc1.Init.ExternalTrigConvEdge",
                "type": 5
            },
            {
                "address": "0x20000048",
                "name": "hadc1.Init.NbrOfConversion",
                "type": 5
            },
            {
                "address": "0x20000050",
                "name": "hadc1.Init.NbrOfDiscConversion",
                "type": 5
            },
            {
                "address": "0x20000034",
                "name": "hadc1.Init.Resolution",
                "type": 5
            },
            {
                "address": "0x2000003c",
                "name": "hadc1.Init.ScanConvMode",
                "type": 5
            },
            {
                "address": "0x2000002c",
                "name": "hadc1.Instance",
                "type": 5
            },
            {
                "address": "0x20000068",
                "name": "hadc1.Lock",
                "type": 2
            },
            {
                "address": "0x20000060",
                "name": "hadc1.NbrOfCurrentConversionRank",
                "type": 5
            },
            {
                "address": "0x2000006c",
                "name": "hadc1.State",
                "type": 5
            },
            {
                "address": "0x20000090",
                "name": "htim2.Channel",
                "type": 2
            },
            {
                "address": "0x200000b6",
                "name": "htim2.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x200000b2",
                "name": "htim2.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x200000ba",
                "name": "htim2.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20000094",
                "name": "htim2.hdma[0]",
                "type": 5
            },
            {
                "address": "0x2000008c",
                "name": "htim2.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x20000084",
                "name": "htim2.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x2000007c",
                "name": "htim2.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000080",
                "name": "htim2.Init.Period",
                "type": 5
            },
            {
                "address": "0x20000078",
                "name": "htim2.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20000088",
                "name": "htim2.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20000074",
                "name": "htim2.Instance",
                "type": 5
            },
            {
                "address": "0x200000b0",
                "name": "htim2.Lock",
                "type": 2
            },
            {
                "address": "0x200000b1",
                "name": "htim2.State",
                "type": 2
            },
            {
                "address": "0x20000000",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x200000bc",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x20000008",
                "name": "uwTickFreq",
                "type": 2
            },
            {
                "address": "0x20000004",
                "name": "uwTickPrio",
                "type": 5
            }
        ],
        "expand": false,
        "filename": "project_final_ldr.elf",
        "exeModifiedTime": 1685616206539,
        "configLastUpdate": 1685616321905
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]